@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #121212;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@theme {
  /* 브레이크 포인트 */
  --breakpoint-desktop: 1100px;
  --breakpoint-mobile: 767px;

  /* 컨테이너 넓이 */
  --container-desktop: 1100px;

  /* 폰트 */
  --font-pretendard: var(--font-pretendard);

  /* 폰트 크기 */
  /* px: 36 30 24 20 18 16 14 12 */
  /* tw: 4xl 3xl 2xl xl lg base sm xs */

  /* 28px, 22px*/
  --text-subtitle: 1.75rem;
  --text-subtitle-small: 1.375rem;

  /* 컬러 */
  --color-custom-black-900: #121212;
  --color-custom-black-600: #323232;
  --color-custom-black-400: #565656;

  --color-custom-gray-800: #767676;
  --color-custom-gray-700: #8F8F8F;
  --color-custom-gray-600: #BABABA;
  --color-custom-gray-300: #D7D7D7;
  --color-custom-gray-200: #E5E5E5;
  --color-custom-gray-100: #F7F7F8;

  --color-success-700: #02891A;
  --color-success-500: #026A14;
  --color-success-400: #03C124;
  --color-success-100: #E6F9E9;
  --color-error: #E82929;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}